.home-container {
  width: 95%;
  margin: 0 auto;
  ///homs slide sccs stle
  .title{
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    margin: 2rem;
  }
  .home-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--home-background);
    height: 70vh;
    border-radius: 8px;
    .slider {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 1rem;
      .middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        h2 {
          font-size: 35px;
          margin-bottom: 1rem;
          text-transform: capitalize;
        }
        .shop-btn{
          display: flex;
          gap: 10rem;
          button{
            cursor: pointer;
            width: 8rem;
            color: var(--main-white);
            background-color: var(--header-backGround);
            padding: 0.5rem;
          }
        }
     
      }
    }
  }
 
}
