header {
  width: 100%;
  height: 60px;
  background-color: var(--header-backGround);
  padding: 0 1rem;
  nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      h2 {
        .link {
          color: var(--main-white);
          text-decoration: none;
        }
      }
    }
    ul {
      display: flex;
      align-items: center;
      gap: 3rem;
      list-style: none;
      li {
        .link {
          color: var(--main-white);
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
    .right {
      display: flex;
      gap: 3rem;
      color: var(--main-white);
    }
  }
}
