.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    h3 {
      font-size: 30px;
      text-transform: uppercase;
    }
    .filter {
      button {
        cursor: pointer;
        padding: 0.5rem;
        width: 8rem;
        margin-left: 0.5rem;
        color: var(--main-white);
        background-color: var(--header-backGround);
        border-radius: 6px;
      }
    }
    .items {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: auto auto auto auto;
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2rem;
        padding: 0.5rem;
        background-color: var(--home-background);
        border-radius: 8px;
        button {
          cursor: pointer;
          padding: 0.5rem 1rem;
          color: var(--main-white);
          background-color: var(--header-backGround);
          border-radius: 6px;
        }
        img {
          width: 200px;
          height: 250px;
        }
        h4 {
          margin-top: 8px;
          font-size: 20px;
        }
      }
    }
  }