.shop-container {
  width: 95%;
  margin: 0 auto;
  .title{
    text-align: center;
    font-size: 30px;
    text-transform:capitalize;
    margin: 2rem;
  }
  .shop-top {
    display: flex;
    gap: 2rem;
    .shop-left {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 25%;
      margin-right: 1rem;
      h3{
        font-size: 25px;
        margin-top: 1rem;
        text-transform: capitalize;
      }
      .select-section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .select-item {
          width: 90%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          select {
            padding: 0.5rem;
            width: 13rem;
          }
        }
      }
      .color {
        width: 90%;
        h3 {
          font-size: 20px;
          margin-bottom: 1rem;
        }
        .color-items {
          display: grid;
          grid-template-columns: auto auto auto;
          grid-gap: 0.5rem;
          button {
            padding: 1.5rem 1rem;
            border-radius: 6px;
            height: 3rem;
            cursor: pointer;
          }
          .white{
            background-color: var(--main-white);
          }
          .red{
            background-color:var(--main-red);
          }
          .yelliow{
            background-color: yellow;
          }
          .black{
            background-color: black;
          }
          .blue{
            background-color: blue;
          }
          .green{
            background-color:greenyellow;
          }
        }
        
      }
      .price-filter{
        h3{
          font-size: 20px;
          margin-bottom: 0.5rem;
        }
        input{
          width: 90%
        }
      }
    }
    .shop-right {
      width: 75%;
      flex: 3;
      .shop-slider {
        display: flex;
        align-items: center;
        height: 70vh;
        background-color: var(--home-background);
        .slider {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          .middle {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            h2 {
              font-size: 35px;
              text-transform:capitalize;
            }
            button {
              border-radius: 6px;
              width: 8rem;
              padding: 0.5rem;
              cursor: pointer;
              color: var(--main-white);
              background-color: var(--main-blue);
            }
          }
        }
      }
      //product section scss style
      
    }
  }
 
}

//reponsive mobile
@media only screen and (max-width: 600px) {
  .shop-container {
    .title{
      font-size: 22px;
      margin: 1rem;
    }
    .shop-top {
     flex-direction: column;
      .shop-left {
        gap: 1rem;
        width: 100%;
        margin-right: 0rem;
        h3{
          font-size: 22px;
        text-align: center;
        margin-bottom: 1rem;
        }
        .select-section {
          .select-item {
            select {
              padding: 0.5rem;
              width: 11rem;
            }
          }
        }
        .color {
          .color-items {
            button {
              padding: 1rem 0.5rem;
              border-radius: 5px;
              height: 2rem;
              cursor: pointer;
            }
            
          }
          
        }
        .price-filter{
          h3{
            font-size: 20px;
            margin-bottom: 0.5rem;
          }
          input{
            width: 90%
          }
        }
      }
      .shop-right {
        width: 100%;
        .shop-slider {
    
          height: 50vh;
          .slider {
            .left{
              img{
                width:200px !important;
              }
            }
            .middle {
         
              h2 {
                font-size: 25px;
                text-transform:capitalize;
              }
              button {
                border-radius: 5px;
                width: 7rem;
                padding: 0.5rem;
            
              }
            }

            .right {
              img{
                display: none;
              }
            }
          }
        }
        //product section scss style
        
      }
    }
   
  }
}